*{
    margin: 0;
    padding: 0;
}
html,body{
    margin: 0;
    padding: 0;
    background: #F9E1C2;
}
.container{
    width: 95%;
    font-family: Franklin Gothic;
    margin-top: 25px;
}
ul{
    list-style-type: none;
}


@media(min-width:576px){
    .container{
        max-width: 95%;
    }
}
@media(min-width:768px){
    .container{
        max-width: 95%;
    }
}
@media(min-width:992px){
    .container{
        max-width: 95%;
    }
}
@media(min-width:1200px){
    .container{
        max-width: 95%;
    }
}